<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/Home/styles.css">
  </head>
  <body>

    <div class="header">
      <ul class="poke_logo">
          <li>Pokebase</li>
          <li><img src="/public/pokeball.png"/></li>
      </ul>
      <table class="login_table">
        <tr>
          <th colspan="3">
            <span class="username_span">{{#username}}{{.}}{{/username}}</span>
            {{#userId}}<a href="/home/{{.}}">Account</a>{{/userId}}
          </th>
        </tr>
      </table>

      <ul class="login_items">
        <li><a class="login_anchor" href="/home/registeruser">Register</a></li>
        <li><a class="login_anchor" href="/home/userlogin">Login</a></li>
        <li><a class="login_anchor" href="/home/userlogout">Logout</a></li>
      </ul>
    </div>

    <div class="home_major">
      <div class="side_block">
            <div class="attr_container">
                <div id="arrow_up">Up</div>
                <ul class="attr_listings">
                    {{#allElements}}
                    <li><a href="/home/element/{{element}}">{{element}}</a></li>
                    {{/allElements}}
                </ul>
                <div id="arrow_down">Down</div>
            </div>
        </div>

      <div class="pokemon_block">
        <div class="pokemon_listings">
          {{#pokemons}}
          <ul class="pokemon_item"">
            <a href="/home/pokemon/{{id}}">
            <li><img class="home_pokemon_image" src="/{{image}}"></li>
            <li>{{name}}</li>
            </a>
          </ul>
          {{/pokemons}}
        </div>
      </div>
    </div>


  </body>
  <script src="/public/script/jquery-3.2.1.min.js"></script>
  <script src="/public/script/script.js"></script>
</html>
