<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/public/Register/styles.css">
  </head>
  <body>

    <div class="header">
      <ul class="poke_logo">
          <li>Pokebase</li>
          <li><img src="/public/pokeball.png"/></li>
      </ul>

      <ul class="login_items">
        <li><a href="/home/registeruser">Register</a></li>
        <li><a href="/home/userlogin">Login</a></li>
        <li><a href="/home/userlogout">Logout</a></li>
      </ul>
    </div>

    <div class="register_major">
      <form class="register_form" action='/home/registeruser' method="POST">
        <input type='text' name="email" placeholder="Email" class="login_input">
        <input type='text' name="username" placeholder="Username">
        <input type='text' name="password" placeholder="Password">
        <input type='text' name="firstname" placeholder="First Name">
        <input type='text' name="lastname" placeholder="Last Name" >
        <button class="login_button">Register</button>
      </form>
    </div>

  </body>
</html>
