<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/ShowPokemon/styles.css">
</head>

<body>

    <div class="header">
        <ul class="poke_logo">
            <li>Pokebase</li>
            <li>
                <img src="/public/pokeball.png" />
            </li>
        </ul>
        <table class="login_table">
            <tr>
                <th colspan="3">
                    <span class="username_span">{{#username}}{{.}}{{/username}}</span>
                    {{#userId}}
                    <a href="/home/{{.}}">Account</a>{{/userId}}
                </th>
            </tr>
        </table>

        <ul class="login_items">
            <li>
                <a class="login_anchor" href="/home/registeruser">Register</a>
            </li>
            <li>
                <a class="login_anchor" href="/home/userlogin">Login</a>
            </li>
            <li>
                <a class="login_anchor" href="/home/userlogout">Logout</a>
            </li>
        </ul>
    </div>

    <div class="major_block_one">
        <div class="side_block">
            <div class="attr_container">
                <div id="arrow_up"><img src="/upload_attributes/left.png"/></div>
                <div class="attr_listings">
                    <ul id="attr_listings">
                        {{#allElements}}
                        <li><a href="/home/element/{{element}}">{{element}}</a></li>
                        {{/allElements}}
                    </ul>
                </div>
                <div id="arrow_down"><img src="/upload_attributes/right.png"/></div>
            </div>
        </div>

        <div class="major_block_two">
            {{#pokemon}}
            <div class="pokemon_data_container">
                <div class="inner_block_one" id="inner_block_one">
                    <span>{{name}}</span>
                    <img src="/{{image}}"/>
                </div>
            </div>

            <div class="attr_w_element">
                <div class="pokemon_attributes">
                    <div class="attr_chart_block">
                        <table class="attr_chart">
                            <tr id="quadOne">
                                <td class="attr_bar" style="height: {{hp}}px;">
                                    <p>{{hp}}</p>
                                </td>
                                <th scope="row">HP</th>
                            </tr>
                            <tr id="quadTwo">
                                <td class="attr_bar" style="height: {{attack}}px;">
                                    <p>{{attack}}</p>
                                </td>
                                <th scope="row">Attack</th>
                            </tr>
                            <tr id="quadThree">
                                <td class="attr_bar" style="height: {{defense}}px;">
                                    <p>{{defense}}</p>
                                </td>
                                <th scope="row">Defense</th>
                            </tr>
                            <tr id="quadFour">
                                <td class="attr_bar" style="height: {{speed}}px;">
                                    <p>{{speed}}</p>
                                </td>
                                <th scope="row">Speed</th>
                            </tr>
                            <tr id="quadFive">
                                <td class="attr_bar" style="height: {{spattack}}px;">
                                    <p>{{spattack}}</p>
                                </td>
                                <th scope="row">SP Attack</th>
                            </tr>
                            <tr id="quadSix">
                                <td class="attr_bar" style="height: {{spdefense}}px;">
                                    <p>{{spdefense}}</p>
                                </td>
                                <th scope="row">SP Defense</th>
                            </tr>
                        </table>
                    </div>

                    <div class="stats_listings">
                        <div style="height: 25px;">
                            <p>125</p>
                        </div>
                        <div style="height: 25px;">
                            <p>100</p>
                        </div>
                        <div style="height: 25px;">
                            <p>75</p>
                        </div>
                        <div style="height: 25px;">
                            <p>50</p>
                        </div>
                        <div style="height: 25px;">
                            <p>25</p>
                        </div>
                        <div style="height: 25px;">
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="strngth_wkns">
                <div class="elements_block">
                    <label>Elements</label>
                    <div>
                        {{#elements}}
                        <div>
                            <img src="/{{eleimg}}"/>
                        </div>
                        {{/elements}}
                    </div>
                </div>
                <div class="wkns_block">
                    <label>Weaknesses</label>
                    <div>
                        {{#wknsForPoke}}
                        <div>
                            <img src="/{{eleimg}}"/>
                        </div>
                        {{/wknsForPoke}}
                    </div>
                </div>
            </div>


            <div class="evolutions_block">
                <div class="inner_evo_block">
                    {{#Evolved}}
                    <div>
                        <div class="evo_item">
                            <a href="/home/pokemon/{{id}}"><img src="/{{image}}" /></a>
                        </div>
                        <div class="evo_desc"">
                            <label>{{name}}</label>
                            <p>{{desc}}</p>
                        </div>
                    </div>
                    {{/Evolved}}
                </div>
            </div>
            {{/pokemon}}
        </div>
    </div>
</body>
    <script src="/public/script/jquery-3.2.1.min.js"></script>
    <script src="/public/script/script.js"></script>

</html>