body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  border-bottom: 1px solid rgb(56, 56, 56);
  width: 100%;
  height: 8em;
}

.poke_logo {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.poke_logo > li {
  font-family: 'Pokemon Hollow';
  font-size: 2.5em;
  list-style-type: none;
}

.poke_logo > li > img {
  height: 1.5em;
  width: 1.5em;
}

.login_items {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.login_items > li {
  background-color: rgb(243, 243, 243);
  list-style-type: none;
  margin: 0 2px;
  padding: .5em;
}

.username_span {
  font-family: 'Pokemon Solid';
  font-size: 1.5em;
}

.username_display {
  list-style-type: none;
  position: absolute;
  right: 100px;
}

.navbar {
  margin: .2em auto 0 auto;
}

.nav_elements {
  background-color: #808080;
  border: 1px solid #a2a2a2;
  box-shadow: 0 0 .2em .1em #0c0a0a;
  border-radius: 5px;
  padding: .7em;
}
/* End Header */

.edit_pokemon {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  width: 20%;
}

.edit_input {
  border: 1.5px solid black;
}

/* User Login Page */
.login {
  background-color: #53b9d5;
  border: 1px solid #0b4263;
  box-shadow: 0 0 .1em .1em #062639;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 5em auto 0 auto;
  padding: 2em;
  width: 15%;
}

.login_input {
  border: 2px solid #3e7bb9;
  border-radius: 3px;
  font-size: .8em;
  margin: 0 auto 1em auto;
  padding: .3em;
  width: 80%;
}

.login_button {
  border: 1px solid #03315e;
  border-radius: 4px;
  font-size: .8em;
  margin: 0 auto 0 auto;
  padding: .6em .8em .6em .8em;
}

/* Create Pokemon Page */
.createpokemon_body {
  background-color: rgba(177, 177, 177, 0.808);
  margin: 0;
  padding: .5em 0;
}
.poke_form_container {
  background-color: white;
  margin: 2em auto;
  width: 80%;
}
.new_poke_form {
  padding: 10px 0;
}

.new_poke_form > div {
  position: relative;
  margin: 10px 3em;
}

.new_poke_form > label {
  font-size: 1.4em;
  font-family: "Avenir Next Condensed";
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

.new_poke_form > div > p {
  font-family: "Avenir";
  padding: 4px;
  margin: 0;
}

.new_poke_form > div > input {
  border: 1px solid rgb(163, 163, 163);
  font-size: .8em;
  width: 26em;
  outline: none;
  padding: 8px;
}

.new_poke_form > div > textarea {
  border: 1px solid rgb(163, 163, 163);
  font-size: .8em;
  width: 26em;
  outline: none;
  padding: 8px;
}

.new_poke_form > button {
  background-color: rgb(40, 177, 102);
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(116, 116, 116);
  color: rgb(221, 221, 221);
  font-family: "Avenir";
  font-size: 1em;
  letter-spacing: 1px;
  margin-left: -50px;
  position: relative;
  bottom: 1em;
  left: 50%;
  padding: 6px 1em;
}

.new_poke_form > button:active,
.new_poke_form > button:focus {
  box-shadow: 0 1px 1px 0 rgb(116, 116, 116);
  outline: none;
}

.evolution_form_block {
  background-color: white;
  margin: 0 auto;
  width: 80%;
}

.evolution_form_block > label {
  font-size: 1.4em;
  font-family: "Avenir Next Condensed";
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

.evolution_form {
  padding: 10px 0;
}

.evolution_form > div {
  position: relative;
  margin: 10px 3em;
}
.evolution_form > div > p {
  font-family: "Avenir";
  padding: 4px;
  margin: 0;
}
.evolution_form > div > input {
  border: 1px solid rgb(163, 163, 163);
  font-size: .8em;
  width: 26em;
  outline: none;
  padding: 8px;
}

.evolution_form > button {
  background-color: rgb(40, 177, 102);
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(116, 116, 116);
  color: rgb(221, 221, 221);
  font-family: "Avenir";
  font-size: 1em;
  letter-spacing: 1px;
  margin-left: -50px;
  position: relative;
  bottom: 1em;
  left: 50%;
  padding: 6px 1em;
}

.evolution_form > button:active,
.evolution_form > button:focus {
  box-shadow: 0 1px 1px 0 rgb(116, 116, 116);
  outline: none;
}

.attr_form_block {
  background-color: white;
  margin: 2em auto;
  width: 80%;
}

.attr_form_block > label {
  font-size: 1.4em;
  font-family: "Avenir Next Condensed";
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

.attributes_form {
  padding: 10px 0;
}

.attributes_form > div {
  position: relative;
  margin: 10px 3em;
}
.attributes_form > div > p {
  font-family: "Avenir";
  padding: 4px;
  margin: 0;
}
.attributes_form > div > input {
  border: 1px solid rgb(163, 163, 163);
  font-size: .8em;
  width: 26em;
  outline: none;
  padding: 8px;
}

.attributes_form > button {
  background-color: rgb(40, 177, 102);
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(116, 116, 116);
  color: rgb(221, 221, 221);
  font-family: "Avenir";
  font-size: 1em;
  letter-spacing: 1px;
  margin-left: -50px;
  position: relative;
  bottom: 1em;
  left: 50%;
  padding: 6px 1em;
}

.attributes_form > button:active,
.attributes_form > button:focus {
  box-shadow: 0 1px 1px 0 rgb(116, 116, 116);
  outline: none;
}

.ele_poke_block {
  background-color: white;
  margin: 2em auto;
  width: 80%;
}

.ele_poke_block > label {
  font-size: 1.4em;
  font-family: "Avenir Next Condensed";
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

.ele_poke_form {
  padding: 10px 0;
}

.ele_poke_form > div {
  position: relative;
  margin: 10px 3em;
}
.ele_poke_form > div > p {
  font-family: "Avenir";
  padding: 4px;
  margin: 0;
}
.ele_poke_form > div > input {
  border: 1px solid rgb(163, 163, 163);
  font-size: .8em;
  width: 26em;
  outline: none;
  padding: 8px;
}

.ele_poke_form > button {
  background-color: rgb(40, 177, 102);
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(116, 116, 116);
  color: rgb(221, 221, 221);
  font-family: "Avenir";
  font-size: 1em;
  letter-spacing: 1px;
  margin-left: -50px;
  position: relative;
  bottom: 1em;
  left: 50%;
  padding: 6px 1em;
}

.ele_poke_form > button:active,
.ele_poke_form > button:focus {
  box-shadow: 0 1px 1px 0 rgb(116, 116, 116);
  outline: none;
}

/* -------------- */

.wkns_to_poke_block {
  background-color: white;
  margin: 2em auto;
  width: 80%;
}

.wkns_to_poke_block > label {
  font-size: 1.4em;
  font-family: "Avenir Next Condensed";
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

.wkns_to_pok_form {
  padding: 10px 0;
}

.wkns_to_pok_form > div {
  position: relative;
  margin: 10px 3em;
}
.wkns_to_pok_form > div > p {
  font-family: "Avenir";
  padding: 4px;
  margin: 0;
}
.wkns_to_pok_form > div > input {
  border: 1px solid rgb(163, 163, 163);
  font-size: .8em;
  width: 26em;
  outline: none;
  padding: 8px;
}

.wkns_to_pok_form > button {
  background-color: rgb(40, 177, 102);
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(116, 116, 116);
  color: rgb(221, 221, 221);
  font-family: "Avenir";
  font-size: 1em;
  letter-spacing: 1px;
  margin-left: -50px;
  position: relative;
  bottom: 1em;
  left: 50%;
  padding: 6px 1em;
}

.wkns_to_pok_form > button:active,
.wkns_to_pok_form > button:focus {
  box-shadow: 0 1px 1px 0 rgb(116, 116, 116);
  outline: none;
}

/*Trainer ID Page*/
.trainer_image {
  height: 150px;
  width: 150px;
}

/* Edit Trainer Page */
.edit_trainer {
  background-color: #52ab4f;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  width: 40%;
}
