body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  border-bottom: 1px solid rgb(56, 56, 56);
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.logo_items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.logo_items:hover {
  cursor: pointer;
}

#logo_name {
  list-style-type: none;
  font-style: normal;
  font-size: 2em;
  font-weight: 0;
}

.side_one {
  color: rgb(238, 88, 96);
}

.side_two {
  color: rgb(158, 158, 158);
}

.logo_items > li > img {
  height: 2em;
  width: 2em;
}
.active_user {
  position: absolute;
  right: 5em;
  top: 1em;
}

.user_accnts {
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}

.user_accnts > li {
  display: inline-block;
  margin-left: 1em;
}

.user_accnts > li > a {
  color: black;
  text-decoration: none;
}
.login_items {
  float: right;
  font-family: "Avenir";
  list-style-type: none;
  margin: 2px 0;
  padding: 0;
}

.login_items > li {
  display: inline-block;
  padding: 2px;
  transition: .5s;
}

.login_items > li > a {
  color: black;
  outline: none;
  text-decoration: none;
}

.username_span {
  font-family: 'Pokemon Solid';
  font-size: 1.5em;
}

.username_display {
  list-style-type: none;
  position: absolute;
  right: 100px;
}

/* End Header */

.register_major {
  background-image: url("/upload_attributes/login_back.png");
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: relative;
}

.register_form {
  border: 1px solid rgb(255, 123, 123);
  border-radius: 5px;
  width: 20%;
  position: relative;
  top: 8em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2em;
}

.register_form > input {
  display: block;
  font-size: 1em;
  margin-top: 10px;
  padding: 8px 0;
  width: 100%;
}

.register_form > input:focus {
  border: 1px solid rgb(255, 129, 129);
  outline: none;
}

.register_form > button {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  font-family: "Avenir Next";
  font-size: 1em;
  padding: 8px;
  width: 50%;
  position: relative;
  top: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* not part of solution */
  transition: .5s;
}

.register_form > button:hover {
  background-color: rgb(253, 171, 171);
}
.register_form > button:active {
  outline: none;
}
.register_form > button:focus {
  outline: none;
}
